body {
    background-color: rgb(10, 88, 133);
    padding: 0;
    margin: 0;
}

.head {
    background-color: #a52a2a;
    font-size: 25px;
    padding: 10px;
}

.content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
}

