@font-face {
    font-family: 'fontello';
    src: url('../assets/img/fontello.woff2?20730410') format('woff2'),
         url('../assets/img/fontello.woff?20730410') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
   
    display: inline-block;
  }
  
  .icon-share:before { content: '\e800'; }

  figure {
      margin: 0;
      display: inline-block;
  }

body {
    background-color: rgb(10, 88, 133);
    padding: 0;
    margin: 0;
}

.head {
    background-color: #a52a2a;
    font-size: 32px;
    padding: 10px;
    text-align: center;
}

.content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 32px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .content {
        display: block;
    }
}

.content div {
    margin-top: 15px;
    border: 1px solid black;
    background-color: rgba(165,42,42, 0.5);
}

.hobby a {
    text-decoration: none;
    color: #000
}

